.title {
   
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f4f6;
    font-size: 26px;
    font-weight: 300px !important;
    
}

#services .container {
    display: grid;
    grid-template-rows: minmax(100px, auto);
    grid-area: center;
    gap: 100px;
} 

#services .service {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 48px 0;
}

 #services .service p {
    margin-top: 16px;
}

#services .service h2 {
    margin-bottom: 10px;
}

#services .service a {
    margin-top: 32px;
}
#services .service img {
   float: left; 
} 

.button {
    display: inline-block;
    color: white ;
    font-size: 18px;
    font-weight: 600;
    background-color: #22c55e;
    padding: 8px 16px;
    border-radius: 99999px;
}

footer {
    
    color: white;
    background-color: #1f2937;
    padding: 32px 0;
}

footer h1 {
    margin-bottom: 12px;
    text-align: center;
}

footer h2 {
    font-size: 16px;
    color: #e5e7eb;
    text-align: center;
    margin-bottom: 32px;
}

footer .contact {
    display: flex; 
    flex-direction: column;
    
}

footer li {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    font-size: 15px;
}


@media (min-width: 1023px) {
    #services .service {
        flex-direction: row;
    }

    #services .service img {
        padding-right: 32px;
        max-width: 440px;
    }

    footer .contact {
        flex-direction: row;
    }

    footer .contact ul:is(:last-child)  {
        margin-left: 126px;
    }   
}